{default $scripts = []}
{default $scriptVariables = []}
{$presenter->context->getService('resources.scriptManager')
	->setPresenter($presenter)
	->setRequired($scripts)
	->output()}

<script n:ifset="$scriptVariables">
{foreach $scriptVariables as $name => $value}
{if FALSE === strpos($name, '.')}var {/if}{!$name} = {$value};
{/foreach}
</script>
